<footer class="site-footer">

	<div class="wrapper">

		<div class="footer-col-wrapper">
			<div class="footer-col  footer-col-1">
				<a href="http://www.greplytix.com/">
					<img src="{{site.url}}/img/logo.png" alt="Greplytix" style="height:43px;" />
				</a>
			</div>

			<div id="social">
				<a href="https://www.facebook.com/greplytix">
					<img src="{{site.url}}/img/social/facebook.png" alt="facebook" />
				</a>
				<a href="https://plus.google.com/+GreplytixForEducation">
					<img src="{{site.url}}/img/social/googleplus.png" alt="google+" />
				</a>
				<a href="http://www.greplytix.com/feed/">
					<img src="{{site.url}}/img/social/rss.png" alt="rss" />
				</a>
				<a href="http://www.twitter.com/greplytix/">
					<img src="{{site.url}}/img/social/twitter.png" alt="twitter" />
				</a>
			</div>


		</div>

	</div>

</footer>
